.sidenav {
    background-color: #3f51b5;
    width: 200px;
}

.sidenav i {
    padding-right: 10px;
}

.link {
    color: #fff;
    display: flex;
    align-items: center;
}

.content {
    padding: 16px;
    background-color: #fff;
}